body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}

.start-game-form {
    margin-top: 30vh;
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.difficulty-form {
    margin-top: 16.5vh;
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guess-form {
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn {
    margin: 1rem;
    width: 200px;
    height: 65px;
}

body .hide {
    display: none;
}

.end-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8.7vh;
}

.finalScore {
    font-size: 4rem;
    margin-bottom: 4rem;
}

.play-again-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image {
    margin: 1rem;
    max-width: auto;
    height: auto;
}

.progress-stats {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.7rem;
    text-align: center;
}

.progress-counter h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.1rem;
}

.highscores {
    width: 100%;
    background-color: rgb(187, 223, 255);
    margin: 4rem 1rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: black;
    font-size: 1.5rem;
}

.highscores ul {
    list-style-type: none;
    padding: 0;
}

.highscores li {
    margin: 1rem;
}

.highscores h2 {
    margin: 1rem 1rem 2rem 1rem;
}

@media screen and (min-width: 725px) {
    .difficulty-form {
        width: 100%;
        margin-top: 30vh;
    }
}

@media screen and (min-width: 1000px) {
    .guess-form {
        max-width: 100%;
    }
}
